@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap");

:root {
  --background: #e4ebf5;
  --violet1: #313fdb;
  --violet2: #5865f2;
  --red: #dc3545;
  --white: #ffffff;
  --grey: #c8d0e7;
  --light-text: #909dbd;
  --dark-text: #111;
}

/* 
[data-maison="Gryffindor"] {
    background-color: #740001;
    
}

[data-maison="Slytherin"] {
    background-color: #1a472a;
    
}

[data-maison="Ravenclaw"] {
    background-color: #222f5b;
   
}

[data-maison="Hufflepuff"] {
    background-color: #ffdb00;
    
} */

.maison-btn,
#reset {
  background-color: var(--background);
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  box-shadow: -5px -5px 10px var(--white), 5px 5px 10px var(--grey);
  padding: 1.5vh 3vh;
  margin-right: 10px;
}

.maison-btn:hover,
#reset:hover {
  color: var(--violet1);
  cursor: pointer;
  box-shadow: none;
}

#maisons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4vh 0vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  min-height: 100vh;
  width: 99vw;
  background-color: var(--background);
  color: var(--dark-text);
  padding: 0vw 12vw;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 3vh;
  border-radius: 0px 0px 4px 4px;
  box-shadow: -5px -5px 10px var(--white), 5px 5px 10px var(--grey);
}

header h2 {
  font-size: 2rem;
  padding: 0vw 2vw;
}

header nav {
  display: flex;
  flex-wrap: wrap;
}

header nav li {
  padding: 2vw 2vw;
}

header nav li a {
  color: var(--dark-text);
  padding: 1.5vh 3vh;
  border-radius: 5px;
  transition: 0.2s;
}
header nav li a:hover {
  box-shadow: inset -5px -5px 10px var(--white), inset 5px 5px 10px var(--grey);
  transition: 0.2s;
}

span {
  color: var(--violet2);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--dark-text);
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 60px;
  display: none;
}

.sidenav a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: var(--light-text);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: var(--white);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#burger {
  width: 10%;
  display: none;
}

#home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 0vh;
}

#home section {
  margin-right: 7vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#home section #button {
  padding: 10vh 0vh 0vh 0vh;
}

#home section #button a {
  color: var(--dark-text);
  padding: 1.5vh 5vh;
  margin-right: 3vw;
  border-radius: 5px;
  transition: 0.2s;
}

#home section #button a:nth-child(1) {
  box-shadow: -5px -5px 10px var(--white), 5px 5px 10px var(--grey);
}

#home section #button a:nth-child(1):hover {
  box-shadow: 0px 0px 0px var(--white), 0px 0px 0px var(--grey);
  transition: 0.2s;
}

#home section #button a:nth-child(2):hover {
  box-shadow: inset -5px -5px 10px var(--white), inset 5px 5px 10px var(--grey);
  transition: 0.2s;
}

#home section h1 {
  margin: 5vh 0vh;
  font-size: 10vh;
}

#home section p {
  font-size: 2.5vh;
  padding-right: 10vw;
}

#home img {
  width: 20vw;
}

#cards-research {
  display: block;
}

main .research {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  min-height: 30vh;
}

main .research h1 {
  font-size: 6vh;
}

main ul li img {
  width: 100%;
  border-radius: 10px;
}

/* input[type="checkbox"] {
    display: none;
}

.like-checkbox {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url("../img/icon/coeur_black.png");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

input[type="checkbox"]:checked + .like-checkbox {
    background-image: url("../img/icon/coeur_red.png");
} */

main ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

main ul li {
  position: relative;
  border-radius: 10px;
  box-shadow: -5px -5px 10px var(--white), 5px 5px 10px var(--grey);
  width: 13vw;
  min-height: 20vh;
  margin: 5vh 10vh;
  transition: 0.2s;
}

main ul li:hover {
  box-shadow: none;
  transition: 0.2s;
  cursor: pointer;
}

#cards-research #searchbar {
  border: none;
  background-color: var(--background);
  padding: 10px 15px;
  border-radius: 5px;
  color: var(--violet2);
  box-shadow: inset -5px -5px 10px var(--white), inset 5px 5px 10px var(--grey);
  outline: none;
}

#cards-research #searchbar:focus::placeholder {
  color: var(--violet1);
  opacity: 0;
}

#card-view {
  margin-top: 5vh;
  width: 75vw;
  min-height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

#card-view img {
  width: 20%;
  box-shadow: -5px -5px 10px var(--white), 5px 5px 10px var(--grey);
}

#card-view h2 {
  text-transform: uppercase;
  font-size: 4vh;

  color: var(--violet1);
}
#card-view p {
  margin: 5px;
  padding: 5px 15px;
  border: 1px solid var(--violet1);
  border-radius: 5px;
}

#profil {
  width: 100%;
  min-height: 60vh;
  margin-top: 10vh;
}

#profil .user {
  display: flex;
  width: 100%;
  min-height: 30vh;
  /* background-color: green; */
  align-items: center;
  justify-content: flex-start;
}

#profil .identity {
  width: 50%;
  min-height: 30vh;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#profil .identity img {
  width: 13vw;
}

#profil .identity h2 {
  font-size: 6vh;
}

#profil .pseudo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  min-height: 30vh;
  /* background-color: red; */
  font-size: 2vw;
}

#profil .pseudo h2 {
  box-shadow: -5px -5px 10px var(--white), 5px 5px 10px var(--grey);
  border-radius: 10px;
  color: var(--violet2);
  padding: 2vh 4vw;
}

#profil .collection {
  /* background-color: red; */
  width: 100%;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profil .collection h2 {
  text-transform: uppercase;
}

#register {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#register form {
  width: 25vw;
  min-height: 60vh;
  box-shadow: -5px -5px 10px var(--white), 5px 5px 10px var(--grey);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#register form h2 {
  font-size: 3vw;
}

#register .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reg-name,
.reg-psw {
  padding: 4vh;
}

.reg-name input,
.reg-psw input,
.reg-email input,
.reg-name-modal input,
.reg-psw-modal input,
.reg-email-modal input {
  border: none;
  background-color: var(--background);
  padding: 10px 15px;
  border-radius: 5px;
  color: var(--violet2);
  box-shadow: inset -5px -5px 10px var(--white), inset 5px 5px 10px var(--grey);
  outline: none;
}

form h2 {
  color: var(--violet1);
}

form input[type="submit"] {
  padding: 1.5vh 5vh;
  border-radius: 5px;
  border: none;
  background-color: var(--background);
  box-shadow: -5px -5px 10px var(--white), 5px 5px 10px var(--grey);
  margin-top: 2vh;
  transition: 0.2s;
}

form input[type="submit"]:hover {
  background-color: var(--violet2);
  color: var(--background);
  cursor: pointer;
  box-shadow: none;
  transition: 0.2s;
}

#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  opacity: 0;
  z-index: 100;
  transition: opacity 0.3s ease;
}

.modal-content {
  background: var(--background);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

#open-modal-btn {
  position: fixed;
  right: 50px;
  bottom: 50px;
  padding: 3vh;
  background: var(--background);
  color: var(--violet2);
  border: none;
  cursor: pointer;
  font-size: 1vw;
  border-radius: 10px;
  box-shadow: -4px -4px 10px var(--white), 4px 4px 10px var(--grey);
  transition: 0.2s;
}

#open-modal-btn:hover {
  background-color: var(--violet2);
  color: var(--background);
  cursor: pointer;
  box-shadow: none;
  transition: 0.2s;
}

#close-modal-btn,
#card-view a {
  margin-top: 10px;
  padding: 10px 20px;
  background: var(--red);
  color: var(--white);
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

#modal form {
  padding: 10vh;
}
#modal form p {
  margin-bottom: 10px;
}
#modal form h2 {
  margin-bottom: 40px;
}

#modal form input {
  margin-bottom: 20px;
  padding: 2vh 7vh;
}

#modal form input:focus::placeholder {
  opacity: 0;
}
#modal form input[type="submit"] {
  border: none;
}

@media (max-width: 600px) {
  body {
    padding: 2vw;
  }
  header {
    display: none;
  }
  .sidenav {
    display: block;
  }
  #burger {
    display: block;
  }
  #home {
    padding: 0vh;
    display: flex;
    align-items: flex-start;
  }
  #home img:nth-child(3) {
    display: none;
  }
  #home section h1 {
    font-size: 6vh;
    color: var(--violet1);
  }
  #home #button {
    display: flex;
  }
  #open-modal-btn {
    right: 15px;
    bottom: 15px;
    padding: 2vh;
    font-size: 3vh;
    z-index: 10;
  }
  #close-modal-btn {
    margin-top: 0px;
    margin-bottom: 20px;
  }

  #cards-research #burger {
    width: 20%;
  }
  #cards-research h1 {
    font-size: 5vh;
    margin: 15px;
  }
  #maisons {
    display: block;
  }
  .maison-btn,
  #reset {
    padding: 1vh;
    margin: 20px;
  }
  #card-list {
    margin-bottom: 45px;
  }
  main ul li {
    width: 20vw;
    margin: 3vh 4vh;
  }

  #profil {
    margin-top: 0px;
  }
  #profil .pseudo h1 {
    font-size: 4vh;
  }
  #profil #burger {
    width: 20%;
  }

  #burger {
    width: 20%;
  }

  #register form {
    font-size: 3vh;
    box-shadow: none;
  }
  #register form h2 {
    font-size: 5vh;
  }

  #card-view {
    flex-direction: column;
    align-items: center;
    width: 95vw;
  }
  #card-view img {
    width: 50%;
    margin-bottom: 10px;
  }
  #card-view h3 {
    margin-bottom: 5px;
  }
}
