@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap");

:root {
  --background: #e4ebf5;
  --violet1: #313fdb;
  --violet2: #5865f2;
  --red: #dc3545;
  --white: #ffffff;
  --grey: #c8d0e7;
  --light-text: #909dbd;
  --dark-text: #111;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  min-height: 100vh;
  width: 100vw;
  background-color: var(--background);
  color: var(--dark-text);
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 0vh;
  border-radius: 0px 0px 4px 4px;
  box-shadow: -5px -5px 10px var(--white), 5px 5px 10px var(--grey);
}

header h2 {
  font-size: 2rem;
  padding: 0vw 2vw;
}

header nav {
  display: flex;
  flex-wrap: wrap;
}

header nav li {
  padding: 2vw 2vw;
}

header nav li a {
  color: var(--dark-text);
  padding: 1.5vh 3vh;
  border-radius: 5px;
  transition: 0.2s;
}

header nav li a:hover {
  box-shadow: inset -5px -5px 10px var(--white), inset 5px 5px 10px var(--grey);
  transition: 0.2s;
}

span {
  color: var(--violet2);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--dark-text);
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 60px;
  display: none;
}

.sidenav a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: var(--light-text);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: var(--white);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#burger {
  width: 10%;
  display: none;
}
#home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 12vw;
}

#home section {
  margin-right: 7vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#home section #button {
  padding: 10vh 0vh 0vh 0vh;
}

#home section #button a {
  color: var(--dark-text);
  padding: 1.5vh 5vh;
  margin-right: 3vw;
  border-radius: 5px;
  transition: 0.2s;
}

#home section #button a:nth-child(1) {
  box-shadow: -5px -5px 10px var(--white), 5px 5px 10px var(--grey);
}

#home section #button a:nth-child(1):hover {
  box-shadow: 0px 0px 0px var(--white), 0px 0px 0px var(--grey);
  transition: 0.2s;
}

#home section #button a:nth-child(2):hover {
  box-shadow: inset -5px -5px 10px var(--white), inset 5px 5px 10px var(--grey);
  transition: 0.2s;
}

#home section h1 {
  margin: 5vh 0vh;
  font-size: 10vh;
}

#home section p {
  font-size: 2.5vh;
  padding-right: 10vw;
}

#home img {
  width: 20vw;
}

#cards-research {
  display: block;
  /* width: 80vw; */
}

#register {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#register form {
  width: 25vw;
  min-height: 60vh;
  box-shadow: -5px -5px 10px var(--white), 5px 5px 10px var(--grey);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#register form h2 {
  font-size: 3vw;
}

#register .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reg-name,
.reg-psw {
  padding: 4vh;
}

.reg-name input,
.reg-psw input,
.reg-email input,
.reg-name-modal input,
.reg-psw-modal input,
.reg-email-modal input {
  border: none;
  background-color: var(--background);
  padding: 10px 15px;
  border-radius: 5px;
  color: var(--violet2);
  box-shadow: inset -5px -5px 10px var(--white), inset 5px 5px 10px var(--grey);
  outline: none;
}

form h2 {
  color: var(--violet1);
}

form input[type="submit"] {
  padding: 1.5vh 5vh;
  border-radius: 5px;
  border: none;
  background-color: var(--background);
  box-shadow: -5px -5px 10px var(--white), 5px 5px 10px var(--grey);
  margin-top: 2vh;
  transition: 0.2s;
}

form input[type="submit"]:hover {
  background-color: var(--violet2);
  color: var(--background);
  cursor: pointer;
  box-shadow: none;
  transition: 0.2s;
}

#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  opacity: 0;
  z-index: 100;
  transition: opacity 0.3s ease;
}

.modal-content {
  background: var(--background);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

#open-modal-btn {
  position: fixed;
  right: 15px;
  bottom: 15px;
  padding: 3vh;
  background: var(--background);
  color: var(--violet2);
  border: none;
  cursor: pointer;
  font-size: 1vw;
  border-radius: 10px;
  box-shadow: -4px -4px 10px var(--white), 4px 4px 10px var(--grey);
  transition: 0.2s;
}

#open-modal-btn:hover {
  background-color: var(--violet2);
  color: var(--background);
  cursor: pointer;
  box-shadow: none;
  transition: 0.2s;
}

#close-modal-btn,
#card-view a {
  margin-top: 10px;
  padding: 10px 20px;
  background: var(--red);
  color: var(--white);
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

#modal form {
  padding: 10vh;
}
#modal form p {
  margin-bottom: 10px;
}
#modal form h2 {
  margin-bottom: 40px;
}

#modal form input {
  margin-bottom: 20px;
  padding: 2vh 7vh;
}

#modal form input:focus::placeholder {
  opacity: 0;
}
#modal form input[type="submit"] {
  border: none;
}
