/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap");

/* VARIABLES */
:root {
  /* FONT */
  --font-f: "Poppins", sans-serif;

  /* COLORS */
  --primary: #5628ee;
  --primary-light: #8c6ff0;
  --secondary: #23c4f8;

  --success: #57ca81;
  --error: #d04863;
  --warning: #f6d87c;

  /* TEXT */
  /* titles */
  --h1: 28px 40px;
  --h2: 24px 32px;
  --h3: 20px 28px;
  --h4: 18px 24px;
  /* texts */
  --p: 16px 22px;

  /* BUTTON */
  /* padding */
  --small: 6px 20px;
  --normal: 10px 28px;
  /* border */
  --border-button-color: 1px solid var(--secondary);
  --border-button-white: 1px solid var(--primary-light);
}
